#Hardhat files
cache
artifacts

# Node
node_modules

#Hardhat files
cache
artifacts

# ----------- Yarn ---------------
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Environment variables
.env
.env.local
.env.development
.env.production
